:root{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    --bgColor: #474A2C;
    --altColor: #553D36;
    --fontColor: #E3DCA9;
    --altFontColor:#545775;
    --textShadow: 3px 3px black;
}

body{
    background-color: var(--bgColor);
    color: var(--fontColor);
    flex:wrap;
}

.title{
    border-radius: 30%;
    padding:25px;
    position:sticky;
    text-align:center;
    display:block;
    display:flexbox;
    text-shadow: var(--textShadow);

}

.title:hover{
}

nav ul{
    position:sticky;
    margin:0;
    padding:0;
    list-style:none;
    float:right;
    display:block;
    display:inline;
    font-style:bold;
    text-align:right;

}

nav li{
    padding-top:25px;
    padding-right:25px;
    position:sticky;
}

li a:active{
    color:grey;
}


li:hover{
    color:black;
    text-shadow: 2px 2px grey;
}



h1{
    position:sticky;
    font-size:35px;
    text-align:left;
    margin:auto;
    padding:auto;
    /* background-color: #59A96A; */
}




ul:focus{
    
}

aside{
width:250px;
height:1000px;
border-color: var(--FontColor);
filter: brightness(50%);
border-style:solid;
border-top:0px;
border-left:0px;
border-bottom: 0px;

text-align:center;
}